doctype html
html
  head
    title='TTU Campus'
  body
    - if (env && env.DEVELOPMENT)
      script(src='jquery/jquery.min.js')
      script(src='three/three.min.js')
      script(src='dist/bundle.js')
      link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
    - else
      script(src='bundle.js')
      link(rel='stylesheet' href='bundle.css')
